<template>
    <div>
        <h2>Refugio K'erenda Homet</h2>
        Km. 2.7 carretera Tambopata- Isuyama, corredor turistico
        Puerto Maldonado
        Perú
    </div>
</template>

<style scoped>
:scope {
    background: #111b;
    border-top: 1px solid #222;
}
</style>
