<template>
    <div>
        <header class="navbar">
          <section class="navbar-section">
             <a href="index.html">
             <img id="mainlogo" src="logo_encabezado.png"></img>
             </a>
          </section>
          <section class="navbar-center main-menu">
             <h1>Salvemos K'erenda Homet</h1>
             <h3>Refugio, Jardín Botánico y Reserva Natural</h3>
             <!--div class="btn-group btn-group-block">
             <a href="fotos" class="btn btn-custom">Servicios</a>
             <a href="ubicacion" class="btn btn-custom">El Jardín</a>
             <a href="servicios" class="btn btn-custom">El Bosque</a>
             <a href="servicios" class="btn btn-custom">La Familia</a>
             <a href="servicios" class="btn btn-custom">Recorridos Virtuales</a>
             <button class="btn btn-primary input-group-btn">Search</button>
            </div -->
          </section>
        </header>
    </div>
</template>

<script lang="python">

class Component:
    pass

</script>

<style scoped>

:scope {
    width: 100%;
    margin: 0px;
    background: #111b;
    border-bottom: 1px solid #222;
}
.btn-custom {
    background-color: #00954166;
    color: #eee;
    border: 1px solid #49a83f;
}
.main-menu {
    align-items: end;
    flex-direction: column;
    margin: 15px 15px 0px 0px;
    text-align: left;
}
#mainlogo {
    margin: 15px 0px 15px 15px;
}
</style>
