<template>
  <div>
      <nav_bar></nav_bar>
      <qvp_page/>
      <footer_bar></footer_bar>
  </div>
</template>


<style>

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    height: 100%;
    color: #eee;
}
.card {
    background: #111B;
    margin: 1px 10%;
    border: 1px solid #222;
}
.hero {
    background: #111B;
    margin: 15px 20%;
}
#qvp_app {
    height: 100%;
    text-align: center;
}

</style>

<style scoped>
:scope {
    height: 100%;
    display: flex;
    flex-direction: column;

    /* The image used */
    background-image: url("fondo_parallax.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
