<template>
    <div>
        <h1>Fotos</h1>
        <p>fotos</p>
        <iframe height=520 
                width=360
                src="https://icarito.gitlab.io/nino-mago/"></iframe>
    </div>
</template>
