<template>
    <div>
        <div class="hero">
          <div class="hero-body">
            <h2>Más de 30 años cuidando y reforestando pueden reducirse a ceniza si no actuamos ahora.</h2>
            <p><br><a href="https://www.patreon.com/kerenda"><button>Hacer un aporte</button></a></p>
          </div>
        </div>
        <!--div class="card">
            <div class="card-header">
                <div class="card-title h5">
                    Lo que está en juego
                </div>
                <div class="card-body">
                    <ul>
                        <li>Las quemas y los incendios</li>
                        <li>La tala</li>
                        <li>La mineria</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">
                    ¿Cómo afrontamos el reto?
                </div>
                <div class="card-body">
                    <ul>
                        <li>Aliados, Reglamentación</li>
                        <li>AQUI LO QUE VAMOS A HACER</li>
                        <li>Apoyo Corporativo / Apoya desde donde estes</li>
                    </ul>
                </div>
            </div>
        </div-->
    </div>
</template>

<style scoped>

:scope {
    height: 100%;
}

.card {
    background: orange;
    border: 1px solid darkorange;
    color: #111;
    width: 100%;
    margin: 25px 0px;
}
.hero {
    padding: 2.5em;
}
</style>

