<template>
    <div>
        <h1>Servicios</h1>

          <div class="content-body-inner">
            <div class="popular-facilities">
                <h5>Servicios más populares</h5>
                <ul>
                    <li>
                        WiFi gratis
                    </li>
                    <li>
                        Parking gratis
                    </li>
                    <li>
                        Traslado aeropuerto
                    </li>
                </ul>
            </div>
            <div class="property-facilities-all">
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
        <span class="facilityGroupIcon">
            <svg class="bk-icon -iconset-garden hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M116 112H69V80.7a10.5 10.5 0 0 0 5.5-9.2 8.5 8.5 0 0 0-.2-1.7 8.5 8.5 0 0 0 1 1.4 10.5 10.5 0 0 0 14.9-14.9 8.5 8.5 0 0 0-1.4-1 8.5 8.5 0 0 0 1.7.2 10.5 10.5 0 0 0 0-21 8.5 8.5 0 0 0-1.7.2 8.5 8.5 0 0 0 1.4-1 10.5 10.5 0 1 0-14.9-14.9 8.5 8.5 0 0 0-1 1.4 8.5 8.5 0 0 0 .2-1.7 10.5 10.5 0 1 0-21 0 8.5 8.5 0 0 0 .2 1.7 8.5 8.5 0 0 0-1-1.4 10.5 10.5 0 0 0-14.9 14.9 8.5 8.5 0 0 0 1.4 1 8.5 8.5 0 0 0-1.7-.2 10.5 10.5 0 0 0 0 21 8.5 8.5 0 0 0 1.7-.2 8.5 8.5 0 0 0-1.4 1 10.5 10.5 0 0 0 14.9 14.9 8.5 8.5 0 0 0 1-1.4 8.5 8.5 0 0 0-.2 1.7 10.5 10.5 0 0 0 5.5 9.2V112H12a4 4 0 0 0 0 8h104a4 4 0 0 0 0-8zM87.3 68.3a6.5 6.5 0 0 1-9.1 0 42 42 0 0 1-5.1-12 15.6 15.6 0 0 0 2.4-2.2 42.2 42.2 0 0 1 11.8 5 6.5 6.5 0 0 1 0 9.2zM97 45a6.5 6.5 0 0 1-6.5 6.5c-2 0-6.7-2.1-11.3-4.5a15.6 15.6 0 0 0 .4-3.3v-.9c4.4-2.3 9-4.3 11-4.3A6.5 6.5 0 0 1 97 45zM78.2 21.7a6.5 6.5 0 0 1 9.1 9.1 37 37 0 0 1-10.2 4.6 15.6 15.6 0 0 0-3.3-3.8c1.4-4.5 3.1-8.7 4.4-10zM64 12a6.5 6.5 0 0 1 6.5 6.5c0 1.7-1.7 5.8-3.8 9.9a14.7 14.7 0 0 0-5.4 0 35 35 0 0 1-3.8-10A6.5 6.5 0 0 1 64 12zm-23.3 9.7a6.5 6.5 0 0 1 9.1 0 32 32 0 0 1 4.5 9.9 15.6 15.6 0 0 0-3.4 3.8 35 35 0 0 1-10.2-4.6 6.5 6.5 0 0 1 0-9.1zM31 45a6.5 6.5 0 0 1 6.5-6.5c1.9 0 6.5 2 11 4.3v1a15.6 15.6 0 0 0 .3 3.2 38.8 38.8 0 0 1-11.3 4.5A6.5 6.5 0 0 1 31 45zm18.8 23.3a6.5 6.5 0 0 1-9.1-9.1c1.4-1.5 6.7-3.5 11.8-5a15.6 15.6 0 0 0 2.4 2.1 42.1 42.1 0 0 1-5 12zm12.7-9.1h3c2.5 4.8 5 10.2 5 12.3a6.5 6.5 0 0 1-13 0c0-2 2.5-7.4 5-12.3zM48 104q-24 0-24-24 24 0 24 24zm56-24q0 24-24 24 0-24 24-24z"/></svg>
        </span>
        </span>
                            <span class="facility-group__title">Exteriores</span>
                        </li>
                                <li>
                                    Jard&iacute;n
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                                <span class="facilityGroupIcon">
                                    <svg class="bk-icon -iconset-oven hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M8 40v76a4 4 0 0 0 4 4h104a4 4 0 0 0 4-4V40zm96 56H24V72h80zm0-32H24v-8h80zm12-56H12a4 4 0 0 0-4 4v20h112V12a4 4 0 0 0-4-4zM92 26a6 6 0 1 1 6-6 6 6 0 0 1-6 6zm16 0a6 6 0 1 1 6-6 6 6 0 0 1-6 6z"/></svg>
                                </span>
                            </span>
                            <span class="facility-group__title">Cocina</span>
                        </li>
                                <li>
                                    Cocina compartida
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                                <span class="facilityGroupIcon">

                                    <svg class="bk-icon -iconset-pawprint hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M61 34c0 9.9-6.3 18-14 18s-14-8.1-14-18 6.3-18 14-18 14 8.1 14 18zm20-18c-7.7 0-14 8.1-14 18s6.3 18 14 18 14-8.1 14-18-6.3-18-14-18zM16.5 47.4c-6.9 2.1-10.3 11-7.6 20S19.4 82.1 26.3 80c6.9-2.1 10.3-11 7.6-20S23.4 45.4 16.5 47.4zM94.2 60c-2.7 9 .7 18 7.6 20 6.9 2.1 14.6-3.6 17.3-12.5s-.7-18-7.6-20C104.6 45.4 96.9 51 94.2 60zM64 104c11.9 0 6.1 8 22 8 4.9-.2 10.9-5.3 11-16 .1-13.8-12.4-34-33-35-20.6 1-33.1 21.2-33 35 .1 10.7 6.1 15.8 11 16 15.9 0 10.1-8 22-8z"/></svg>
                                </span>
                            </span>
                            <span class="facility-group__title">Mascotas</span>
                        </li>
                    <li class="facility-policy">
                        Se admiten bajo petición. Se pueden aplicar suplementos.
                    </li>
                
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                                <span class="facilityGroupIcon">
                                    <svg class="bk-icon -iconset-golf hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M88 112c0 4.4-9 8-20 8s-20-3.6-20-8c0-3.9 6.9-7.1 16-7.8V12a4 4 0 0 1 8 0v92.2c9.1.7 16 4 16 7.8zM36.5 93.5a12 12 0 0 1-17 0L13.8 99a19.9 19.9 0 0 0 10.2 5.5V116a4 4 0 0 0 8 0v-11.4a19.9 19.9 0 0 0 10.1-5.5zM117 28.7L86.3 16.3a4.6 4.6 0 0 0-6.3 4.3v30.8a4.6 4.6 0 0 0 7 4l30.8-18.6a4.6 4.6 0 0 0-.7-8.1zM48 68a20 20 0 1 1-20-20 20 20 0 0 1 20 20zm-24-8a4 4 0 1 0-4 4 4 4 0 0 0 4-4z"/></svg>
                                </span>
                            </span>
                            <span class="facility-group__title">Actividades</span>
                        </li>
                                <li>
                                    Tour o clase sobre cultura local
                                </li>
                                <li>
                                    Biblioteca
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-food hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M44.1 8.9L48 44a12 12 0 0 1-12 12h-3.6l3.4 59.8a4 4 0 0 1-4 4.2h-7.6a4 4 0 0 1-4-4.2L23.6 56H20A12 12 0 0 1 8 44l3.9-35.1a1 1 0 0 1 1-.9H15a1 1 0 0 1 1 1v19a4 4 0 0 0 4 4h4.8L26 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1l1.2 23H36a4 4 0 0 0 4-4V9a1 1 0 0 1 1-1h2.1a1 1 0 0 1 1 .9zM60 24v48h8l-3.8 43.8a4 4 0 0 0 4 4.2h7.6a4 4 0 0 0 4-4.2L80 8h-4a16 16 0 0 0-16 16zm60 8c0-13.3-7.2-24-16-24S88 18.8 88 32c0 11 5 20.2 11.6 23l-3.4 60.8a4 4 0 0 0 4 4.2h7.6a4 4 0 0 0 4-4.2L108.4 55c6.7-2.8 11.6-12 11.6-23z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">Comida y bebida</span>
                        </li>
                                <li>
                                    Men&uacute; para ni&ntilde;os
                                </li>
                                <li>
                                    Men&uacute;s diet&eacute;ticos (bajo petici&oacute;n)
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-wifi hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><circle cx="64" cy="100" r="12"/><path d="M118.3 32.7A94.9 94.9 0 0 0 64 16 94.9 94.9 0 0 0 9.7 32.7a4 4 0 1 0 4.6 6.6A87 87 0 0 1 64 24a87 87 0 0 1 49.7 15.3 4 4 0 1 0 4.6-6.6zM87.7 68.4a54.9 54.9 0 0 0-47.4 0 4 4 0 0 0 3.4 7.2 47 47 0 0 1 40.6 0 4 4 0 0 0 3.4-7.2z"/><path d="M104 50.5a81.2 81.2 0 0 0-80 0 4 4 0 0 0 4 7 73.2 73.2 0 0 1 72 0 4 4 0 0 0 4-7z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">Internet</span>
                        </li>
                    <li class="facility-policy">
                        Hay conexión a internet Wi-Fi disponible en las zonas comunes. Gratis.
                    </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-parking_sign hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M70.8 44H58v16h12.8a8 8 0 0 0 0-16z"/><path d="M108 8H20A12 12 0 0 0 8 20v88a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12V20a12 12 0 0 0-12-12zM70 76H58v24H42V28h28a24 24 0 0 1 0 48z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">Aparcamiento</span>
                        </li>
                    <li class="facility-policy">
                        Hay parking gratis privado en el establecimiento. No es necesario reservar.
                    </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-concierge hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M120 100a4 4 0 0 1-4 4H12a4 4 0 0 1 0-8h104a4 4 0 0 1 4 4zM56 32h16a4 4 0 0 0 0-8H56a4 4 0 0 0 0 8zm8 8a48 48 0 0 0-48 48h96a48 48 0 0 0-48-48z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">Servicios</span>
                        </li>
                                <li>
                                    Traslado aeropuerto (de pago)
                                </li>
                                <li>
                                    Servicio de traslado (de pago)
                                </li>
                                <li>
                                    Guardaequipaje
                                </li>
                                <li>
                                    Informaci&oacute;n tur&iacute;stica
                                </li>
                                <li>
                                    Servicio de lavander&iacute;a
                                </li>
                                <li>
                                    Traslado aeropuerto
                                </li>
                                <li>
                                    Recepci&oacute;n 24 horas
                                </li>
                                <li>
                                    Salas de reuniones / banquetes
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-checkmark hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M52 96a4 4 0 0 1-2.8-1.2l-24-24a4 4 0 0 1 5.6-5.6L52 86.3l45.2-45.1a4 4 0 1 1 5.6 5.6l-48 48A4 4 0 0 1 52 96z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">Seguridad</span>
                        </li>
                                <li>
                                    Extintores
                                </li>
                                <li>
                                    C&aacute;maras de seguridad fuera del alojamiento
                                </li>
                                <li>
                                    C&aacute;maras de seguridad en las zonas comunitarias
                                </li>
                                <li>
                                    Seguridad 24 horas
                                </li>
                    </ul>
                    <ul>
                        <li class="facility-group">
                            <span class="facility-group__icon">
                            <span class="facilityGroupIcon">
                                <svg class="bk-icon -iconset-info_sign hp__facility_group_icon" height="20" width="20" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="M49.4 85l4.2-17.2c.7-2.7.8-3.8 0-3.8a29 29 0 0 0-8.8 3.8l-1.8-3A48 48 0 0 1 66.7 53c3.7 0 4.3 4.3 2.5 11l-5 18c-.7 3.3-.3 4.3.5 4.3a19 19 0 0 0 8.2-4L75 85c-8.6 8.7-18.2 12-21.8 12s-6.4-2.3-3.8-12zM75 36a9.2 9.2 0 0 1-9.2 9c-4.4 0-7-2.7-6.8-7a9 9 0 0 1 9.1-9c4.6 0 6.9 3.2 6.9 7z"/><path d="M62 16a48 48 0 1 1-48 48 48 48 0 0 1 48-48m0-8a56 56 0 1 0 56 56A56 56 0 0 0 62 8z"/></svg>
                            </span>
                            </span>
                            <span class="facility-group__title">General</span>
                        </li>
                                <li>
                                    Zona de fumadores
                                </li>
                                <li>
                                    Habitaciones familiares
                                </li>
                                <li>
                                    Habitaciones para no fumadores
                                </li>
                                <li>
                                    Admite mascotas
                                </li>
                    </ul>
          </div>
        </div>

    </div>
</template>

<style scoped>

.facility-group__title {
    font-weight: bold;
}

ul {
    list-style-type: none; /* Remove bullets */
}

</style>
